.showcase {
  height: 200px;
  
}

.showcase .overlay {
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  margin-top: 50px;
}