.showcase {
  height: 185px;
}

.showcase .overlay {
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  font-weight: bold;
  margin-top: 25px;
}